<nav class="navbar">
  <div class="title">
    <h2>Rushab's Blogs</h2>
  </div>
  <ul class="nav-content">
    <a href="/"><li class="nav-item">Home</li></a>
    <a href="/about"> <li class="nav-item">Blogs</li></a>
    <a href="/new-blog"><li class="nav-item">New Blog</li></a>
  </ul>
</nav>