<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles.css">
        <link rel="stylesheet" href="new.css">
        <title><%=title%></title>
    </head>
    
<body>
    <%-include('./partials/navbar')%>
    <div class="container">
        <div class="mini-container">
            <form action="/blog" method="POST">
                <div>
                    <label for="title">Title:</label>
                    <input id="title" name="title" type="text">
                </div>
                <div>
                    <label for="snippet">Snippet:</label>
                    <input id="snippet" name="snippet" type="text">
                </div>
                <div>
                    <label for="body">Body:</label>
                    <textarea id="body" name="body" cols="32" rows="10"></textarea>
                </div>
                <button>Submit</button>
            </form>

        </div>
    </div>
</body>
</html>